body {
    margin: 0;
}

.intro {
    height: 100vh;
    background-image: url('../img/Afroglitch-background.svg');
    background-size: cover;
    background-position: center center;
    display: flex;
}

#Nav{
    height: 100vh;
}

.intro h1 {
    margin-bottom: 40vh;
    text-align: center;
    color: #c7c3c3;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
    font-size: 120px;
    letter-spacing: 2vh;
}
.button-area button{
    margin-left: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0%;
}
#Nav .flex-container {
    width: 100vw;
    display: flex;
    overflow:scroll;
    background-color: #fff;
    font-family: "Roboto Flex", sans-serif;
}

#Nav .flex-container > div {
background-size: cover;
background-position: -390px center;
background-repeat: no-repeat;
font-size: 30px;
width: 100px;
height: 100vh;
flex-basis: 100%;
display: flex;
justify-content: center;
align-items: center;
}

#Nav .flex-container > *:first-child {
 justify-content: flex-start;
 align-items: flex-start;
}

#Nav button {
font-family: "Roboto Flex", sans-serif; 
border-radius: 60%;
padding: 16% 38%;
margin-left: -10px;
font-size: 3.5vw;
font-weight: 200;
border: 2px solid #fff;
letter-spacing: 0.15vh;
}

#Nav button:hover {
color: #BECE03;
}

#Nav .back-svg{
position: absolute;
margin: 20px;
}


#Nav .menu-links{
font-family: "Roboto Flex", sans-serif; 
font-size: 1.2vw;
margin-left: 4px;
padding: 1vh!important;
text-align: left;
justify-self: flex-start;
align-self: start;
letter-spacing: 0.5vh;
}

#Nav .menu-links:hover{
color: #BECE03;
}

.lookOne .img-content {
width: 100%;
margin: auto;
align-self:flex-start;
}

.card {
border: 0 solid;
margin: 0 10%;
font-family: "Roboto Flex", sans-serif;
font-weight: 200;
text-align: center;
}

.card h1 {
color: #2d2d2d;
font-weight: 400;
}

.lookOne .card-image {
width: 75%;
margin: auto;
}

.sizes {
border-radius: 70%;
margin: 0 8px;
padding: 19.5px 22px;
font-size: 16px;
}

.sizes:hover {
background-color: #BECE03;
border-color: #BECE03;
}

h3 {
margin-top: 30px;
font-size: 100%;
font-weight: 400;
font-family: "Roboto Flex", sans-serif;
}

.lookOne p {
text-align: left;
}

ul {
padding-left: 0;
}
li {
list-style: none;
text-align: left;
}

.clothes-details{
margin: 0 16vh;
}

.add-to-cart{
color: #2d2d2d;
width: 125px;
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom: 2px solid #000;
border-radius: 0;
margin-top: 32%;
float: right;
right: 0;
}

.lookOne .back-svg,
.lookTwo .back-svg,
.lookThree .back-svg,
.lookFour .back-svg,
.lookFive .back-svg,
.lookSix .back-svg,
.lookSeven .back-svg,
.inspo .back-svg,
.search .back-svg
{
float: right;
position: relative;
margin-right: 20px;
margin-top: 20px;
color: #898888;
text-decoration: none;
}

.lookOne h6,
.lookTwo h6,
.lookThree h6,
.lookFour h6,
.lookFive h6
{
font-weight: 300;
font-family: "Roboto Flex", sans-serif;
}

.lookOne .container-fluid,
.lookTwo .container-fluid,
.lookThree .container-fluid,
.lookFour .container-fluid,
.lookFive .container-fluid,
.lookSix .container-fluid,
.lookSeven .container-fluid,
.search .jumbotron {
padding: 0
}

.inspo .background-A {
background-size: cover;
background-image: url('../img/background_A.png');
height: 65vh;
margin: 0;
padding: 0;
}

.inspo .background-B {
background-size: cover;
background-image: url('../img/background_B.png');
height: 65vh;
margin: 0;
padding: 0;
}
.inspo .container-fluid {
padding: 0;
}
.inspo .explanation {
font-family: "Roboto Flex", sans-serif;
display: block;
position: relative;
text-align: justify;
font-size: 20px;
font-weight: 100;
padding: 6% 10%;
}


.back {
font-family: "Shrikhand", serif;
position: fixed;
top: 24px;
right: 24px;
width: 100vw;
display: grid;
grid-template-columns: auto auto;
z-index:1;
justify-content: end;
}



.back h4 {
    position: fixed;
    color: #fff;
    margin-right: 10px;
    right: 1px;
}

.main-back-svg {
    right: 6px;
    top: 24px;
    position: fixed;
    margin-right: 180px;
    width: 40px;
    color: #7E7D7D;
}

.back button {
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    color: #fff;
    font-size: 20px;
    width: 180px;
    background-color: transparent;
    text-decoration: none!important;
}
.back h4:hover {
font-size: 26px;

}

.back button:focus {
    outline: none;
}

.last-project h4{
    top: 95vh;
    color: #7E7D7D;
    left: -75vw;
}

.last-project svg{
    top: 95vh;
    fill: #7E7D7D;
    left: 1vh;
}

.last-project h4:hover{
    font-size:28px;
}

.search .container-fluid{
  padding: 0;
}

.search .back-svg {
  color: #fff;
}
.search img {
    width: 600px;
    padding: 0 24px;
    z-index: -1;
}

.search .card {
  width: auto;
}
.search .jumbotron {
  height: 70vh;
  background-image: url('../img/afroglitch_background_2.png');
  background-size: cover;
  padding: 0;
  margin: 0;
}

.search .btn {
  margin: auto;
  color: rgb(175, 175, 175);
  display:flex;
}

.search a {
  text-decoration: none!important;
}
.search .btn {
  font-family: "Roboto Flex", sans-serif;
  margin-top: -320px;
  z-index: 1;
  position: absolute;
  margin-left: 43%;
}

.search .btn:hover {
  background-color: #e8f83a;
  color: grey;
}

.search .card {
  height: auto;
}

.search .card-img-overlay {
  position:relative;
}

.search h1 {
  color: #c7c3c3;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  letter-spacing: 10px;
  font-size: 10vw;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1130px) {
.lookSeven .container {
    max-width: 100vw!important;
}
.clothes-details{
margin: 0 1vh;
}

.sizes {
border-radius: 70%;
margin: 0 8px;
padding: 10.5px 12px;
font-size: 16px;
}


#Nav button {
padding: 36% 38%;
margin-left: -10px;
}

}

#loader {
border: 12px solid #c5c2c2;
border-radius: 50%;
border-top: 12px solid #444444;
width: 70px;
height: 70px;
animation: spin 1s linear infinite;
}

@keyframes spin {
100% {
    transform: rotate(360deg);
}
}

.center {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}