body {
    font-family: "Poppins", sans-serif;
}


  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  body {
    animation: fadeInAnimation 3s ease;
  }
  body {
    transition: opacity 3s ease;
  }
  
  body.loaded {
    opacity: 1;
  }
.hero {
    margin: 8vh 5vh 5vh 5vh;
    border-radius: 24px;
    background-image: url('../img/AIR-LOGIN.jpg');
    background-position: center -30vw; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.center-img {
    width: 50%;
    margin: 0 auto;
}
.regulation-logo {
    width: 250px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.info {
    padding: 36px 0;
    display: block;
    margin: auto 16vw;
    color: #112E45;
}

.info p{
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}

h1 {
    padding: 36px 0;
    font-size: 48px;
}

.pill {
    border: 1.5px solid #112E45;
    border-radius: 24px;
    padding: 8px 16px;
    margin: 8px;
}

.market-research img{
    width: 100%;
}

.market-research .card {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    border: 3px solid #EDEFF1;
    background: #FFF;
    padding: 20px;
    height: 100%;
}

.market-research .info-card {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    border: 3px solid #EDEFF1;
    color: #fff;
    background: #112E45;
    padding: 56px;
}

.market-research p {
    text-align: center;
}

.market-research .enlarged-text {
    font-size: 32px;
    font-weight: 600;
}

.ui-path {
    width: 80%!important;
    margin: 10%;
}

.wireframe .card {
    background-image: url('../img/low-fidelity-wireframe.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
    height: 400px;
    width: auto;
    margin: 24px;
    border-radius: 16px;
    border: 3px solid #EDEFF1;
    background-position: -1px 0;
}

.wireframe{
    width: auto;
    height: 60vh;
    margin: 0;
    background-image: url('../img/wireframes.svg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personas-container {
    background-color: #E3F2FD;
    margin-bottom: 10vh;
}
.personas img {
    width: 100%;
}

.typography {
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    color: #D9D9D9;
    margin: 72px 0;

}

.medium {
    font-weight: 500;
    font-size: 64px;
}

.regular {
    font-weight: 400;
    font-size: 64px;
}

.light {
    font-weight: 300;
    font-size: 64px;
}

.colours, .components {
    margin: 72px 0;
}
.colours img{
    width: 100%;
}

.components img {
    width: 100%;
}

.components-img{
    width: 50%;
}

.design-library {
    width: 80%;
    padding: 8vw;
    margin: auto;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    border: 3px solid #EDEFF1;   
    color: #112E45;
}

.design-library .info{
    display: block;
    margin: auto 8vw;
}

.design-library h1{
    color: #112E45;
    padding-top: 0!important;
}

.design-library p {
    font-size: 20px;
    font-weight: 200;
}

.high-fidelity img {
    width: 100%;
}

.high-fidelity-background {
    height: 56vw;
    background-color:#E3F2FD;
    z-index: -1;
    position: absolute;
    display: block;
    margin-top: -60vw;
}

.market-placement-research img{
    width: 75%;
}

.outro {
    background-color: #E3F2FD;
}

.outro h1 {
    color: #112E45;
}

.back a, .next-project a {
    text-decoration: none;
}
.back {
font-family: 'Shrikhand', serif;
position: fixed;
top: 24px;
right: 2px;
width: 170vw;
display: grid;
grid-template-columns: auto auto;
z-index:1;
justify-content: end;
}

.back h4 {
    position: fixed;
    color: #112E45;
    /* left: 75px; */
}

.back-svg {
    left: 24px;
    top: 16px;
    position: fixed;
    margin-right: 200px;
    width: 40px;
    color: #112E45;
}

i {
    width: 20px;
    position: fixed;
    top: 30px;
    font-size: 20px;
    padding-right: 200px;
}

.back button {
    border: none;
    display: flex;
    align-items: center;
    color: #112E45;
    font-size: 20px;
    width: 200px;
    background-color: transparent;
    white-space: nowrap;
}
.back button:hover {
    left: 24px;
    top: 16px;
font-size: 21px;
}

.back button:focus {
    outline: none;
}

.last-project, .last-project i {
    position: fixed;
    top: 95vh;
    left: 216px;
    width: 40px;
}

.last-project i {
    top: 95.5vh;
    font-size: 20px;
    left: 56px;
}

.next-project  {
    position: fixed;
    top: 94.5vh;
    right: 46px;
    width: 40px;
}

.next-project  i {
    top: 95vh;
    transform: rotate(180deg);
    font-size: 20px;
    right: 48px;
}

.last-project button, .next-project button {
    font-family: "Shrikhand", serif;
    border: none;
    display: flex;
    align-items: center;
    color: #112E45;
    font-size: 20px;
    width: 200px;
    background-color: transparent;
    white-space: nowrap;
}

.last-project button i {
    margin-right: 16px;
}

.back button, 
.next-project button, 
.last-project button {
transition: font-size 0.2s ease;
}

.back button:hover, 
.next-project button:hover, 
.last-project button:hover {
font-size: 21px;
}

.back button:hover i, 
.next-project button:hover i, 
.last-project button:hover i {
font-size: 20px;
}

.back button:focus, .next-project button:focus, .last-project button:focus {
    outline: none;
}

.results {
    color: #112E45;
    padding-bottom: 10vh;
}

.results h1 {
    padding: 36px 0;
    font-size: 48px;
}

.results img {
    margin-top: -120px;
    width: 26vw;
    border-radius: 16px;
    -webkit-box-shadow: 4px 9px 26px -11px rgba(133,129,133,0.95);
-moz-box-shadow: 4px 9px 26px -11px rgba(133,129,133,0.95);
box-shadow: 4px 9px 26px -11px rgba(133,129,133,0.95);

}

.results p {
    font-size: 22px;
    font-weight: 200;
    padding-right: 16%;
}
.results .storybook-two {
    position: relative;
    margin-top: -20%;
    margin-left: 20%;
}

a {
    font-size: 18px;
}

@media (max-width: 1000px) {
.results img {
    margin-top: 60px;
    width: 40vw;
}
}
@media (max-width: 700px) {
    .hero {
    height: 60vh;
    background-position: center; 
}
.personas-container img {
    margin-top: 20px;
}

.results img {
    margin-top: 120px;


}

}