   
   body {
    background-image: url('../img/kinyozi_background.svg');
    background-size:cover;
    background-position: center center;
    height: 100vh;
   }

   .container-fluid {
        /* background: #fff; */
        margin: 0;
        width: auto;
    }

    video {
        width: 100%;
        height: auto;
        /* object-fit: cover; */
    }


    .intro .card{
        width: 100%;
    }

.container-fluid, 
.row, 
.col-md-6{
    display: flex;
}

ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    position: relative;
    padding-left: 60px;
    padding-bottom: 18px;
    font-size: 16px;
  }
.intro video {
    height: 8vh;

}

.intro h2{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top:  30px;
    color: #cf941c;
}

.intro ul {
    font-family: "Azeret Mono", monospace;
    color: #E26648;
    font-weight: 100;
    font-size: 12px;
}


.intro .container-fluid{
    display: grid;
}

img {
    width: 100%;
    margin: auto;
    padding: 0 10%;
    
}


.intro 
.video-row 
.video-contents {
    justify-self: center;
    align-self:center;
    width: 40vw;
    position: absolute;
}


.intro .container {
    width: 100%;
}

.intro #vid {
    -webkit-box-shadow: 10px 10px 68px -36px rgba(0,0,0,0.71);
-moz-box-shadow: 10px 10px 68px -36px rgba(0,0,0,0.71);
box-shadow: 10px 10px 68px -36px rgba(0,0,0,0.71);
border-radius: 16px;
height: 64vh;
margin: auto;
object-fit: cover;
}

.intro .video-row{
    padding: 70px;
}


.headline .the-problem h1,
.headline .the-solution h1 {
    font-size: 64px;
    padding: 25%;
}


.headline h1{
        text-align: justify;
        color: #b1b0ac;
        font-family: "Azeret Mono", monospace;
        font-weight: 100;
}

.headline .the-problem h1 {
    color: #E26648;
}

.headline .the-solution h1 {
    color: #469960!important;
}

.headline .card {
    padding: 10%;
    border-radius: 24px;
    -webkit-box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
-moz-box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
}

.headline {
    padding: 10%;

}

.headline .content .card p {
    font-size: 16px;
    line-height: 32px;
}


.title {
    padding: 0 30vh;
}

.title-logo {
    width: 88vw;
    text-align: center;
}


p, h2{
    text-align: justify;
    font-size: 20px;
    color: #414040;
    font-family: "Azeret Mono", monospace;
    font-weight: 100;
}

.intro .video-row .video-content p {
    padding: 0 !important;
    font-size: 16px !important;
    line-height: 32px;
    text-align: center !important;
}


.solution p {
    color: #099251;
}
h2 {
    font-size: 32px;
}

.carousel .card {
    width: 390px;
    color: #fff;
    border-radius: 24px;
    box-shadow: rgba(0,0,0,10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    height: 850px;

    &:nth-child(1){
        background-image: url('../img/Kinyozi splash screen.svg');
        background-size: cover;
    }

    &:nth-child(2) {
        background-image: url('../img/Kinyozi-introscreen.svg');
        background-size: cover;
    }

    &:nth-child(3) {
        background-image: url('../img/Kinyozi-userselection.svg');
        background-size: cover;
    }

    &:nth-child(4) {
        background-image: url('../img/Kinyozi-newstylistform.svg');
        background-size: cover;
    }

    &:nth-child(5) {
        background-image: url('../img/Kinyozi-Hairstyleformselection.svg');
        background-size: cover;
    }


    &:nth-child(6) {
        background-image: url('../img/Kinyozi-Dashboard.svg');
        background-size: cover;
    }


    &:nth-child(7) {
        background-image: url('../img/Kinyozi-Confirmation.svg');
        background-size: cover;
    }

    &:nth-child(8) {
        background-image: url('../img/Kinyozi-HaircareAssistant.svg');
        background-size: cover;
    }

    &:nth-child(9) {
        background-image: url('../img/Kinyozi-HaircareAssistantResult.svg');
        background-size: cover;
    }
   
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%)
    }
}

.carousel {
    position: relative;
    margin: auto;
    margin-bottom: 10%;
    padding: 20px 0;
    overflow: hidden;
    display: flex;
    > * {
        flex: 0 0 100%;
    }
    &hover .group {
        animation-play-state: paused;
    }
}

.intro, 
.user-persona,
.user-research,
.wireframes,
.design-system,
.prototype,
.market-research {
    display: grid;
    justify-content: center;
    height: auto;
}


.user-research{
    padding: 10%;
    font-family: "Azeret Mono", monospace;
}

.user-research .content {
    padding:0;
}

.user-research h1 {
    font-size: 56px;
    font-weight: 100;
    padding-bottom: 24%;
    color: #414040;
}

.user-research p{
    font-size: 16px;
    color: #414040;
}

.user-research img{
    padding: 0 6%!important;
    mix-blend-mode: multiply;
}


.user-persona {
    padding: 8%;
}
.user-persona img {
    padding: 0 !important;
    width: 100%;
    mix-blend-mode: multiply;
}

.user-persona h1 {
    color: #414040;
    font-size: 64px;
    font-family: "Azeret Mono", monospace;
    font-weight: 100;
    padding-bottom: 4%;
}
.design-system {
    padding-top: 0;
}
.subtitles {
    width: 80%;
    margin: 10% auto;
}

.prototype .subtitles {
    margin: 4% auto;
}



ul li::before {
  position: absolute;
  left: 0;
  top: 16px;
  right: 20px;
  transform: translateY(-50%);
  font-size: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro ul li:nth-child(1):before {
    content: '😞';
}

.intro ul li:nth-child(2):before {
    content: '😩';
}
.intro ul li:nth-child(3):before {
    content: '😓';
}

.features .card ul li:nth-child(1):before {
    content: '🪪';
}

.features .card ul li:nth-child(2):before {
    content: '🤖';
}

.features .card ul li:nth-child(3):before {
    content: '🗓️';
}

.features .card ul li:nth-child(4):before {
    content: '🔍';
}
.wireframes .container-fluid {
    margin-bottom: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.wireframes {
    padding: 10%;
}
.wireframes h1 {
    color: #414040;
    font-size: 64px;
    font-family: "Azeret Mono", monospace;
    font-weight: 100;
    padding-bottom: 8%;
}

.wireframes p {
    font-size: 16px;
    color: #414040;
    text-align: left;
}

.wireframes img {
    padding: 0 4%;
}

.design-system .container-fluid {
    padding: 8%;
    margin: auto;
    width: 100vw;
    display: grid;
}

.design-system h1{
    color: #414040;
    font-size: 64px;
    font-family: "Azeret Mono", monospace;
    font-weight: 100;
    padding: 8%;
    padding-bottom: 0;
}
.design-system img {
    padding: 10%;
}
.design-system 
.container-fluid 
.card {
    border-radius: 24px;
    -webkit-box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
    -moz-box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
    box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
}

.design-system .subtitles, .prototype .subtitles {
    padding-bottom: 3vh;
}

.prototype {
    background-color: #FFE2A7;
}

.prototype .container-fluid {
    background-color: #FFE2A7;
    width: auto;
    margin: auto;
    display: flex;
}

.prototype img {
    display: block;
}

.prototype h2 {
    text-align: left;
    font-family: "Azeret Mono", monospace;
    font-weight: 500;
    margin-bottom: 32px;
    
}
.prototype .card-gif {
    color: #fff;
    border-radius: 24px;
    padding: 10%;
    font-size: xx-large;
}

.prototype .content {
    margin: 180px 2%;
    /* width: 950px; */
    padding: 2%;
    
}

.prototype span{
    font-size: 14px;
}
.prototype p, .prototype h2 {    
    margin:auto;
    padding: 0 20%;
    color: #CDA75C;
}

.prototype h2 {
    margin-bottom: 20px;;
    font-weight: 600;
    line-height: 48px;
}
.prototype p {
    font-size: 18px;
    text-align: left;
    font-weight:200;
}


.prototype video {
    width: 300px;
    height: auto;
    border-radius: 6px;
    border: 2px solid #000;
    box-shadow: rgba(0,0,0,10%) 5px 5px 20px 0;
}

.prototype .card h2 {
    font-weight: 700;
    font-size: 2.8vh;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.prototype .subtitles {
    margin-top: 12%;
    margin-bottom: 8%;
}
.prototype .card{
    height: auto;
    width: 60%;
    margin: auto;
    background-color: #000;
    font-family: "Azeret Mono", monospace;
    color: #CDA75C;
    text-align: left;
    border-radius: 16px;
    padding: 80px;
    margin-bottom: 40px;
}

.features {
    padding: 10%;
    width: 100%;
    display: block;

}

.features .card {
    width: auto;
    font-family:  "Azeret Mono", monospace;
    margin: 16% 0;
    padding: 12%;
    border-radius: 24px;
    -webkit-box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
    -moz-box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
    box-shadow: 0px 0px 55px -47px rgba(54,54,54,1);
    color:#414040;
}

.features h1{
    padding-bottom: 8%;
    font-family:  "Azeret Mono", monospace;
}

.features .card-gif{
    height: 50vh;
    display: flex;
}

.features .content{
    font-family:  "Azeret Mono", monospace;
    padding: 8%;
    font-size: 16px;
}

.features  .content p {
    text-align: left;
    line-height: 20px;
    width: 80%;
}

.features .row{
    padding: 10% 0;
}

.features  h2{
   font-weight: 400; 
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 2px;
   text-align: left;
}

.features p{
    font-size: 14px;
 }

 .features span {
    font-size: 12px;
 }

 .card-gif #vid{
    width: auto;
    /* height: 70vh; */
 }

.market-research {
    font-family:  "Azeret Mono", monospace;
    color: #414040;
    padding: 10% 0;
}
.market-research-img {
    background-image: url('../img/market-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px ;
}

.market-research ul {
    font-family: "Azeret Mono", monospace;
    font-weight: 200;
}
.market-research h1{
    font-weight:   100;
    font-size: 64px;
    padding-bottom: 10%;
}

.market-research li {
    font-size: 16px;
}
.market-research p {
    font-size: 16px;
}


.market-research .card {
    margin: 8% 10% 8% 10%;
    box-shadow: none!important;
    background: transparent;
}

.market-research .content {
    color: #414040;
    padding: 0 8%;
}
.market-research img {
    padding-bottom: 48px;
}
.market-research ul li:nth-child(1):before {
    content: '💸'
}

.market-research ul li:nth-child(2):before {
    content: '🛍️'
}

.market-research ul li:nth-child(3):before {
    content: '🦾'
}

.market-research span {
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    display: block;
}

.mockups-title{
    color: #414040;
    font-size: 64px;
    font-family: "Azeret Mono", monospace;
    font-weight: 100;
    padding-bottom: 8%;
    text-align: center;
}
.mockups {
    display: grid;
}
.title-text{
    margin: 0;
    padding: 0;
}

.title-text ul li{
    font-size: 12px;
}
.landing-page {
    display: grid;
    /* background-color: #000; */
}

.landing-page p{
    font-size: 20px;
    text-align: center;
    padding: 8%;
}

.landing-page-img {
    padding-top: 20%;
    padding-bottom: 10%;
    width: 90%;
    margin: auto;
}


/* .parallax {
  background-color: #000;
  height: 20vh; 
}

.parallax video {
    height: 80vh;
} */

.back {
font-family: 'Shrikhand', serif;
position: fixed;
top: 24px;
right: 2px;
width: 170vw;
display: grid;
grid-template-columns: auto auto;
z-index:1;
justify-content: end;
}

.back h4 {
    position: fixed;
    color: #7E7D7D;
    /* left: 75px; */
}

.back-svg {
    left: 24px;
    top: 16px;
    position: fixed;
    margin-right: 200px;
    width: 40px;
    color: #7E7D7D;
}

i {
    width: 20px;
    position: fixed;
    top: 30px;
    font-size: 20px;
    padding-right: 200px;
}

.back button {
    border: none;
    display: flex;
    align-items: center;
    color: #7E7D7D;
    font-size: 20px;
    width: 200px;
    background-color: transparent;
    white-space: nowrap;
}
.back button:hover {
    left: 24px;
    top: 16px;
font-size: 21px;
}

.back button:focus {
    outline: none;
}

.last-project, .last-project i {
    position: fixed;
    top: 95vh;
    left: 216px;
    width: 40px;
}

.last-project i {
    top: 95.5vh;
    font-size: 20px;
    left: 56px;
}

.next-project  {
    position: fixed;
    top: 95.5vh;
    right: 46px;
    width: 40px;
}

.next-project  i {
    top: 96vh;
    transform: rotate(180deg);
    font-size: 20px;
    right: 48px;
}

.last-project button, .next-project button {
    font-family: "Shrikhand", serif;
    border: none;
    display: flex;
    align-items: center;
    color: #7E7D7D;
    font-size: 20px;
    width: 200px;
    background-color: transparent;
    white-space: nowrap;
}

.last-project button i {
    margin-right: 16px;
}

.back button, 
.next-project button, 
.last-project button {
transition: font-size 0.2s ease;
}

.back button:hover, 
.next-project button:hover, 
.last-project button:hover {
font-size: 21px;
}

.back button:hover i, 
.next-project button:hover i, 
.last-project button:hover i {
font-size: 20px;
}

.back button:focus, .next-project button:focus, .last-project button:focus {
    outline: none;
}

.live-app {
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
    z-index:1;
    font-family: "Azeret Mono", monospace;
    color: #414040;
}

.live-app svg{
    width: 56px;
    position: relative;
    bottom: 20px;
    display: flex;
}

.live-app:hover {
 color: #E26648;
 fill: #E26648;
}

.landing-page {
    display: flex;
}

.footer-section {
    padding: 20%;
}
.footer-section p {
    text-align: center;
    margin-bottom: 20%;
    font-family: "Azeret Mono", monospace;
}
@media (max-width: 576px) {
    .prototype .container-fluid {
        display: grid;
    }

    .prototype video {
    margin-left: 20%;
}
.prototype .content {
    margin: 20px 1%;
    width: 800px;
    padding: 2%;
}

.market-research img {
    padding-top: 10%;
}
.parallax {
  background-color: #000;
  height: 70vh; 
}

.solution p {
    font-size: 16px;
}
p {
    font-size: 16px;
}
}
